@using HealthCare.Core.Domains.ContractOfPersons.QueryViews
@using HealthCare.Infrastructures.Shared.Enums
@using HealthCare.Infrastructures.Shared.Helpers
@using Newtonsoft.Json
@{
    var contractPeopleList = JsonConvert.DeserializeObject<List<ContractPeopleByNationalIdQueryView>>(Context.Session.GetString("ContractOfPeople"));
    var selectedPersonId = Context.Session.GetString("SelectedContractPersonId");
    ContractPeopleByNationalIdQueryView? selectedObject = null;
    var selectedImage = "";
    if (!string.IsNullOrEmpty(selectedPersonId))
    {
        selectedObject = contractPeopleList!
            .FirstOrDefault(x => x.Id == Convert.ToInt64(selectedPersonId));
        
        selectedImage = selectedObject.IsMan!.Value
            ? "../../assets/img/avatars/1.png"
            : "../../assets/img/avatars/12.png";
    }
}
<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
    <ul class="navbar-nav flex-row align-items-center  ">
        <!-- Style Switcher -->
        <li class="nav-item dropdown-style-switcher dropdown me-2 me-xl-0">
            <a class="nav-link dropdown-toggle hide-arrow" data-bs-toggle="dropdown"
               href="javascript:void(0);">
                <i class="ti ti-md"></i>
            </a>
            <ul class="dropdown-menu   dropdown-styles LA">
                <li>
                    <a class="dropdown-item" data-theme="light" href="javascript:void(0);">
                        <span class="align-middle">
                            <i class="ti ti-sun me-2"></i>
                            روز
                        </span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" data-theme="dark" href="javascript:void(0);">
                        <span class="align-middle">
                            <i class="ti ti-moon me-2"></i>
                            شب
                        </span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" data-theme="system" href="javascript:void(0);">
                        <span class="align-middle">
                            <i class="ti ti-device-desktop me-2"></i>
                            سیستم
                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item  ">
            <span class="bg-label-warning Nav-Lable">انتخاب بیمه گذار :</span>
        </li>
        <!-- Lable -->
        <li class="nav-item navbar-dropdown dropdown-user dropdown">
            <a class="nav-link dropdown-toggle hide-arrow" data-bs-toggle="dropdown"
               href="javascript:void(0);">
                <div class="avatar avatar-online" style="display: flex;">
                    <img alt class="h-auto rounded-circle" src="@selectedImage"/>
                    @if (selectedObject != null)
                    {
                        <span class="fw-semibold d-block h-auto avatar-title ">
                            @($"{selectedObject.Firstname} {selectedObject.LastName} ({selectedObject.ContractName})")
                        </span>
                    }
                </div>
            </a>
            <ul class="dropdown-menu LA ">
                @foreach (var contractPeople in contractPeopleList!)
                {
                    var image = contractPeople.IsMan!.Value
                        ? "../../assets/img/avatars/1.png"
                        : "../../assets/img/avatars/12.png";
                    <li>
                        <a class="dropdown-item customerItem" personalId="@contractPeople.Id">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <div class="avatar avatar-online">
                                        <img alt class="h-auto rounded-circle" src="@image"/>
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <span class="fw-semibold d-block mb-1">
                                        @($"{contractPeople.Firstname} {contractPeople.LastName}")
                                    </span>
                                    <small class="text-muted">
                                        @($"{EnumHelper<Relative>.GetDisplayValue(contractPeople.Relative)} ({contractPeople.ContractName})")
                                    </small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                }
            </ul>
        </li>
        <!--/ User -->
    </ul>
</div>